/* CSS declarations go here */


.ui.inverted.segment.new, .ui.primary.inverted.segment.new {
    background: #ffde00;
    background-image: url("../images/header_bg.png");
    color: rgba(0, 51, 161, 1.0);
    margin-bottom: 5em;
}

.ui.inverted.segment.blue, .ui.primary.inverted.segment.blue {
    margin-top: 2em;
    background: #0039a6;
    color: rgba(0, 51, 161, 1.0);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 2em;
    margin-top: 8em;
}

.ui.inverted.segment.red, .ui.primary.inverted.segment.red {
    margin-top: 2em;
    background: red;
    color: rgba(0, 51, 161, 1.0);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 2em;
    margin-top: 8em;
}

.ui.inverted.segment.greys, .ui.primary.inverted.segment.greys {
    margin-top: 2em;
    background: rgba(220, 220, 210, 1.0);
    color: rgba(0, 51, 161, 1.0);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    margin-top: 8em;
}

.masthead.segment {
    min-height: 550px;
    padding: 5em 0em;

}

.masthead h1.ui.header
{
    margin-top: 2em;
}

.ui.text.container
{
    margin-top: 3em;
}

.ui.secondary.pointing.menu {
    background-color: #ffffff;
    margin-left: 0em;
    margin-right: 0em;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.ui.big.primary.button
{
	margin-top: 1em;
}

.light {
	font-weight: 400;
}

.narrow-top {
	margin-top: 0;
	margin-bottom: 2em;
}


.spacing-top {
    margin-top: 10em;
    margin-bottom: 2em;
}

.narrow-bottom {
	margin-bottom: 0.2em;
}

.book-left {
	text-align: left;
}


.ui.segment {
	border: 0px;
	box-shadow: none;
}

.content-centered {
	text-align: center;
}

.ui.menu:not(.vertical) .item > .button {

	margin-right: 1em;

  }  

.ui.block.header.left.blue-text {
    color: #0039a6;
    border-radius: none;
    border: 2px solid #0039a6;
    background: none;

};

.ui.segment {
    border-radius: none;
    border: 2px;

}

.white-text {
    color: #FFFFFF
}


#carousel {
  width:    600px;
 

}

#carousel div {
width:    100%;
}

.slick-prev:before, .slick-next:before {
margin-top: 20px;
padding-top: 20px;    
color:    silver;
}

.ui.autor {
    background-color: #0039a6;
    min-width: 100%;
}


.ui.grid > .row.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.text.container.box-position {
    margin: 1rem;
    margin-top: 2rem;

}


.ui.footer.segment.margin {
    margin-top: 5rem;
}

.headline {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 10rem;
}

.headline-autor {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 900;
    text-decoration: underline;
}

.blue-text {
      color: #0039a6;
}

.wrapper-ref {
    margin-top: 3rem;
    margin-bottom: 5rem;

}

.margin-bottom {
    margin-bottom: 3rem;
}

.wrapper-slider {
    margin-top: 5rem;
    margin-bottom: 0px;

}


.ui.grid.main{
    margin-top: 70px;
}


.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message{
    padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}