<template name="autor">
 <div class="ui autor">
   <div class="ui two column stackable grid">
     <div class="row no-padding">
      <div class="column">
        <img class="ui huge centered image" src="/images/dark_horse_people_3.png">
      </div>

      <div class="column">
        <div class="text container box-position">

          <h4 class="headline-autor white-text">Die Autoren</h4>
          <h4 class="white-text">Dark Horse Innnovation sind 30 junge, gleichberechtigte Gründer aus 25 Disziplinen, die sich 2009 mit einer Innovationsberatung selbstständig gemacht haben. Heute sind sie eine der erfolgreichsten Innovationsschmieden unserer Zeit. Vom NGO bis zum DAX-Konzern beraten sie eine Vielzahl von Organisationen. Mit ihrem selbst entwickelten Framework, dem Innovation Board, entwickeln sie Produkt- und Service-Innovationen, die ihre Kunden begeistern. Sie tun dies gemeinsam im Team, ohne Hierarchien, spielerisch, mit viel Spaß und großer Leidenschaft. 
          </h4>
        </div>
      </div>
    </div>
   </div>
  </div>
</template>