<template name="board">
  <div class="ui inverted vertical masthead center aligned segment greys">
    <br> <br>
    <div class="ui container inner">             
      <div class="ui grid">
        <div class="six wide column">
        <h4 class="book-left headline-autor blue-text">Das Board</h4>

         <h4 class="book-left">
          Mit dem Innovation Board erhalten Innovationsteams und Manager ein Kommunikationsinstrument, das Missverständnisse ausschließt. Es definiert klare Ergebnisschritte und bietet einheitliche Übergabeformate. Das Innovation Board garantiert jederzeit Überblick und Struktur in der Innovationsentwicklung.</h4>

          <div class="ui small icon button red left floated"><i class="left book icon"></i> BOARD DOWNLOADEN
          </div>
        </div>
        <div class="ten wide column"><img class="ui huge centered image" src="/images/dip-board.jpg" data-action="zoom">
        </div>

      </div>
    </div>

  </div>

</template>