<template name="book">
  <br> <br>
  <div class="ui three column stackable centered divided grid">
   <div class="row">

    <div class="six wide column"><img class="ui medium centered image" src="/images/dip-cover_4.png"></div>
    <div class="eight column">
     <h3 class="book-left blue-text">Mit dem Digital Innovation Playbook wird die Entwicklung neuer Produkte und Services so spielerisch einfach und erfolgreich wie nie zuvor.</h3 >
       <p class="book-left">Es inspiriert und befähigt Macher und Manager!
        Mit seinem einmaligen Framework und Methoden-Set gelingt der Einstieg in die digitale Innovationsentwicklung – immer und überall, egal wie viel oder wenig Vorwissen vorhanden ist. <br><br>Schritt für Schritt zeigt das Playbook die jeweils besten taktischen Spielzüge für jede Aufgabe und Situation. In einer Weiterentwicklung des klassischen Design Thinking orientiert es sich dabei konsequent an der Praxis, zeigt Erfolge und lehrreiche Niederlagen.
      </p>
      <div class="ui small icon button primary left floated"><i class="left book icon"></i> BUCH KAUFEN</div>
      {{> atNavButton}}
    </div>

  </div>
</div>
</template>