<template name="book">
    <br> <br>
   <div class="ui three column centered divided grid">
   <div class="row">
 
  <div class="six wide column"><img class="ui medium centered image" src="/images/dip-cover.jpg"></div>
   <div class="eight column">
       <h2 class="book-left">Mit dem Digital Innovation Playbook wird die Entwicklung neuer Produkte und Services so spielerisch einfach und erfolgreich wie nie zuvor.</h2>
       <p class="book-left">Mit seinem einmaligen Framework sowie vielen Tools und Methoden ermöglicht es erfolgreiche digitale Innovationsentwicklung – immer und überall.</p><p class="book-left"> Über den gesamten Verlauf der Innovationsentwicklung zeigt es die jeweils besten taktischen Spielzüge für jede Aufgabe und Situation. In einer Weiterentwicklung des Design Thinking orientiert es sich dabei konsequent an der Praxis.</p>
    <div class="ui small icon button primary left floated"><i class="left book icon"></i> BUCH KAUFEN</div>

   </div>
 </div>
</div>
</template>