<template name="content">
  <div class="ui inverted vertical masthead center aligned segment greys">
    <div class="text container centered margin-bottom">
      <h4 class="content-centered headline blue-text">Das Buch</h4>
    </div>
    <div class="ui two column stackable grid spacing-top">
      <div class="column">
        <div class="text container">
          <h3 class="ui block header left blue-text"><span class="white-text">Für wen wir dieses Buch geschrieben haben.</span><br> Alle Macher, die digitale Produkte und Services erfinden und verbessern wollen. Alle, die eigene Arbeitsprozesse agiler gestalten wollen.<br><br> Und alle Manager, die Freiräume für Kreativität und Innovationen im Unternehmen verankern wollen — wir nennen sie „Möglich-Macher“.</h3>
        </div>
      </div>

      <div class="column">
        <div class="text container">
         <h3 class="ui block header left blue-text"><span class="white-text">Warum wir dieses Buch geschrieben haben.</span><br>Macher und Möglich-Macher sprechen, denken und handeln auf unterschiedlichen Ebenen. Das Playbook hilft beiden, eine gemeinsame Kommunikationsebene zu finden und Projekte ohne Reibung und mit maximalem Erfolg anzupacken. Letztlich haben beide dasselbe Ziel: digitale Innovationen gestalten, die echte Bedürfnisse der Nutzer erfüllen.</h3>
       </div>
     </div>
   </div>

   <div class="ui three column stackable grid spacing-top">

    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-methoden.png">
        <h3 class="content-centered">Mehr als 40 Methoden</h3>
        <p class="content-centered">Playbook und Board sind in drei große Abschnitte unterteilt: EXPLORE, CREATE und EVALUATE. Jeder Teilbereich hat ein eigenes Methoden-Set, das Machern hilft, die richtigen Informationen zu sammeln und auszuwerten.</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-team.png">
        <h3 class="content-centered">Verschiedene Perspektiven</h3>
        <p class="content-centered">Das Innovation Board ist das Herzstück des Playbooks. Es ist die Festplatte für die wichtigsten Daten, Fakten und Ideen im Projekt. Und es ist das Übergabeformat um Macher, Möglich-Macher und Entscheider zu synchronisieren.</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-postit.png">
        <h3 class="content-centered">Übergabe Framework</h3>
        <p class="content-centered">Das Innovation Board ist das Herzstück des Playbooks. Es ist die Festplatte für die wichtigsten Daten, Fakten und Ideen im Projekt. Und es ist das Übergabeformat um Macher, Möglich-Macher und Entscheider zu synchronisieren.</p>
      </div>
    </div>
  </div>
</div>
</template>