<template name="content">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-intermediate.svg">
        <h3 class="content-centered">Mehr als 40 Mehoden</h3>
        <p class="content-centered">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-meteor-deep.svg">
        <h3 class="content-centered">Verschiedene Perspektiven</h3>
        <p class="content-centered">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui centered small image" src="/images/icon-todoapp.svg">
        <h3 class="content-centered">Übergabe Framework</h3>
        <p class="content-centered">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
    </div>
  </div>
</template>