<template name="darkhorse">
    <div class="ui inverted vertical masthead center aligned segment red">
                <br> <br>
   <div class="ui container inner">             
        <div class="ui grid">

                <div class="ten wide column"><img class="ui huge centered image" src="/images/dark_horse_people.jpg" data-action="zoom">
                </div>

                <div class="six wide column">
                   <h2 class="book-left">Die Authoren</h2>
                   <p class="book-left"> Dark Horse Innnovation sind 30 junge, gleichberechtigte Gründer aus 25 Disziplinen, die sich vor wenigen Jahren mit einer Innovationsberatung selbstständig gemacht haben. </p> <p class="book-left"> Heute sind sie eine der erfolgreichsten Innovationsschmieden unserer Zeit. Vom NGO bis zum DAX-Konzern beraten sie eine Vielzahl von Organisationen. </p> <p class="book-left"> Mit ihrem selbst entwickelten Framework, dem Innovation Board, entwickeln sie Produkt- und Serviceinnovationen, die ihre Kunden begeistern. Sie tun dies gemeinsam im Team, ohne Hierarchien, spielerisch, mit viel Spaß und großer Leidenschaft.</p>
                
                    <div class="ui basic small icon button inverted left floated"><i class="left book icon"></i> WWW.THEDARKHORSE.DE
                    </div>
                </div>
                

        </div>
    </div>

</div>
</template>