<template name="header">
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui top fixed large secondary pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item">Das Buch</a>
                    <a class="item">Das Board</a>
                    <a class="item">Die Autoren</a>

                    

                    <div class="right item">
                        {{> atNavButton}} 
                        <div class="ui medium icon button primary top-btn"><i class="left book icon"></i> BUCH KAUFEN</div>

                        <!-- <a class="ui inverted button">Log in</a>
                        <a class="ui inverted button">Sign Up</a> -->
                    </div>
                </div>
            </div>



            <div class="ui text container">

                <img class="ui centered huge image" src="/images/dip_logo_2.png">
                
                <h2 class="light narrow-bottom">Das unverzichtbare Arbeitsbuch für Gründer, Macher und Manager.</h2>
                <h3 class="light narrow-top ">Melde dich kostenlos an und bekomme Zugriff auf über 50 Templates oder lade direkt das Innovations Board herunter.</h3>

                <!--                 {{> atForm state='signUp'}} -->
                <div class="ui basic large icon button red"><i class="left sign in icon"></i> ANMELDEN FÜR ALLE TEMPLATES</div>
                <div class="ui basic large icon button primary" type="submit"><i class="left light download icon"></i> BOARD DIREKT DOWNLOADEN</div>

            </div>

        </div>
    </div>
</template>