 <template name="header">   
    <div class="ui inverted vertical masthead center aligned segment new">

                  <div class="ui container">

                    <img class="ui centered huge image" src="/images/dip_logo_2.png">

                    <h2 class="narrow-bottom">Das unverzichtbare Arbeitsbuch für Gründer, Macher und Manager.
                    </h2>
                    <h3 class="light narrow-top ">Melde dich kostenlos an und erhalte Zugriff auf über 50 Templates und das einmalige Innovation Board.</h3>

                    <!--                 {{> atForm state='signUp'}} -->
                    <div class="ui basic large icon button red"><i class="left sign in icon"></i> ANMELDEN FÜR ALLE TEMPLATES</div>
                    <div class="ui basic large icon button primary" type="submit"><i class="left light download icon"></i> BOARD DIREKT DOWNLOADEN</div>

                  </div>

                </div>
            </template>


