<template name="referenzen">
  <div class="wrapper-ref">
    <div class="text container centered margin-bottom">
      <h4 class="content-centered headline blue-text">Referenzen</h4>
    </div>

    <div class="ui grid">
      <div class="ten column row">
        <div class="column"><img src="/images/referenzen/logo_02.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_03.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_18.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_05.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_06.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_10.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_12.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_14.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_17.png" class="ui centered tiny image"></div>
        <div class="column"><img src="/images/referenzen/logo_16.png" class="ui centered tiny image"></div>
      </div> 
    </div>
  </div>
</template>