<template name="slider">
 <div class="wrapper-slider">
  <div class="text container centered margin-bottom">
    <h4 class="content-centered headline blue-text">Stimmen zum Buch</h4>
  </div>

  <div class="ui equal width center aligned padded grid">
    <div class="row">

      <div id="carousel">
        <div class="text container">
          <h2 class="ui header content-centered blue-text">
            <img src="/images/patrick.png" class="ui circular image">
            Patrick
          </h2>
          <h4 class="blue-text content-centered">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</h4>
        </div>
        <div class="text container">
          <h2 class="ui header blue-text">
            <img src="/images/patrick.png" class="ui circular image">
            Patrick
          </h2>
          <h4 class="blue-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h4>
        </div>
      </div>
    </div>
  </div>
</div> 
</template>